@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Nunito+Sans:wght@200;300;400;600&family=Nunito:ital,wght@0,400;0,700;1,200&family=Poppins:wght@100;300;500&display=swap');

:root {
    --avocado-green: #D9ED92;
    --moss-green: #76C893;
    --duck-blue: #34A0A4;
    --antwerp-blue: #1A759F;
    --puprle-hue: #184E77;
}


body {
    background-color: var(--duck-blue);
    font-family: 'Montserrat', sans-serif;
}


body > nav {
    background-color: var(--antwerp-blue);
}


.home-container {
    display: flex;
    /* grid-template-columns: 1fr 2fr 1fr; */
    min-width: 90%;
}

.locale-name a {
    background-color: var(--puprle-hue);
    padding: .1rem .2rem;
    margin-bottom: .5rem;
    color: whitesmoke;
    border-radius: 2px;

}

body > div > div.right.col-md-3 > div {
    display: flex;
}


body > div > div.middle.col-md-6 > div {
    min-width: 100%;
}


body > div > div.middle.col-md-6 {
    width: 100%;
}

.hood {
    min-width: 80%;
    padding: .3rem 1rem;
    border-radius: 5px;
    background-color: var(--antwerp-blue);
}

/* .profile-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.hood-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
} */

.user-profile img {
    width: 40px;
    height: 40px;
}

.left,
.middle,
.right {
    padding-top: 2rem;
}


.post-activity {
    width: 90%;
    flex-direction: column;
}


@media only screen and (min-width: 768px) {
    .col-md-3 {
        width: auto;
    }
}
