{% extends 'base.html' %} 

{% block content %} 


<div class="container home-container">
        <div>
           {% include 'app/location_component.html' %}
        </div>

        <div>
            <h5>{{ hood_count }} hoods available</h5>
            <a href="{% url 'create_hood' %}">create hood</a>

            {% include 'app/feed_component.html' %}
            
        </div>
        
        <div>
           {% include 'app/activity_component.html' %}
        </div>
  

</div>

{% endblock %}