{% extends 'base.html' %} 

{% block content %} 

<div class="hood-container container">
    <div>

        <h2>{{ hood.name }}</h2>

        <p>{{ hood.created }}</p>
        {% if request.user == hood.occupants %}
            <p>check this out</p>
        {% endif %}

        <div class='comment-wrapper'>
            <h4>conversations</h4>
            {% for post in posts %} 

                <div>
                    {% if request.user == post.user %}
                        <a href="{% url 'delete_post' post.id %}">delete</a>
                    {% endif %}
                    <div class="user-profile">
                        <img src="{{ user.profile_pic.url }}" alt="">
                    </div>
                                   
                    <small>@{{ post.user }} {{ post.created | timesince }}</small>
                    <p>{{ post.body }}</p>
                    <hr>
                </div>    
            
            {% endfor %}
        </div>


        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form action="" method='POST'>
                {% csrf_token %}  

                <input type="text" name='body' placeholder="create your post"/>
            </form>
        </div>
        {% endif %}
    </div>

    <div>
        <h2>occupants</h2>
        <hr>
        {% for user in occupants %} 
            <div>
                <p>@ {{ user.username }}</p>
            </div>
        
        {% endfor %}
    </div>
</div>
{% endblock %}