{% extends 'base.html' %} 


{% block content %}
{% if page == 'login' %}
    <div>
        <form action="" method='post'>
            {% csrf_token %} 
            <label>username:</label>
            <input type="text" name='username' placeholder="Enter username">

            <label>username:</label>
            <input type="password" name='password' placeholder="Enter password">
            
            <input type="submit" value="login">
        </form>
        <p>Havent signed up yet?</p>
        <a href="{% url 'register' %}">sign up</a>
    </div>

{% else %}
    <div>
        <form action="" method='post'>
            {% csrf_token %}          
            {{ form.as_p }}
            <input type="submit" value="register">
        </form>
        <p>Already signed up?</p>
        <a href="{% url 'login' %}">login</a>
    </div>
{% endif %}

{% endblock %}