{% extends 'base.html' %}

{% block content %} 

<style>
    .profile-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>
<h1>{{ user.username }}</h1>

    <a href="{% url 'update_user' %}">update profile</a>
    <img src="{{ user.profile_pic.url }}" alt="">

<div class='profile-container'>
    <div>
        {% include 'app/location_component.html' %}
    </div>

    <div>
        {% include 'app/feed_component.html' %}
    </div>

    <div>
        {% include 'app/activity_component.html' %}
    </div>
</div>

{% endblock %}