{% extends 'base.html' %}

{% block content %} 


<h1>{{ user.username }}</h1>

    <a href="{% url 'update_user' %}">update profile</a>
    <div class="user-profile">
        <img src="{{ user.profile_pic.url }}" alt="">
    </div>

<div class='profile-container'>
    <div>
        {% include 'app/location_component.html' %}
    </div>

    <div>
        {% include 'app/feed_component.html' %}
    </div>

    <div>
        {% include 'app/activity_component.html' %}
    </div>
</div>

{% endblock %}